/* ---------------------------------------------------
Mobile STYLE
----------------------------------------------------- */
  form * {
    font-size: 16px;
  }

  .nav-search {
    width: 100vw;
    background-color: #eee;
    text-align: left;
    padding: 20px;
  } 
  
  .search input {
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid #eee;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .search_categories {
    position: relative;
    overflow: hidden;
    padding: 10px 8px 10px 0px;
    border-radius: 6px;
    border-right: 1px solid #eee;
  }
  
  .search_categories .select select{
    position: relative;
    z-index: 10;
    width: 100px;
    background-color: white;
    border: 0;
    border-radius: 0;
    line-height: 1;
    padding: 5px 10px;
  }
  
  button.search-button {
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
    box-shadow: 0 8px 6px -6px black;
  }

/* ---------------------------------------------------
Tablet Screens STYLE
----------------------------------------------------- */
  
@media screen and (min-width: 840px) {

    form.nav-search {
        position: relative;
        bottom: -42px;
        z-index: 10;
        display: flex;
        padding: 0;
        background-color: transparent;
        border: none;
    }

    .search_categories {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      background-color: white;
      box-shadow: 0 8px 6px -6px black

    }
    
    .search_categories .select select {
        width: 150%;
        position: static;
        background: white;
        padding: 10px;
    }

    .search {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-wrap: no-wrap;
      border-radius: 6px;
      background-color: transparent;
  }

    .search input {
        background-color: white;
        width: auto;
        border: none;
        border-right: 1px solid #eee;
        padding: 10px 20px;
        margin: 0;
    }

    button.search-button {
        border: none;
        text-align: center;
        border-radius: 4px;
        margin: 0 0 0 10px;
        padding: 10px 20px;
    }

    /* ---------------------------------------------------
    Ads Page STYLE
    ----------------------------------------------------- */

    .ResultsPage.nav-search {
      bottom: 0;
      width: 70%;
      margin-right: auto;
      margin-left: auto;
      padding-top: 20px;
      padding-bottom: 30px;
      background-color: blue;
    }



}

/* ---------------------------------------------------
Large Screens STYLE
----------------------------------------------------- */

@media screen and (min-width: 1000px) {
  form.nav-search {
      bottom: -33px;
  }
}